<section>
  <mat-card class="mat-card">
    <mat-card-content>
      <div class="card-depoimento">
        <div class="card-image">
          <img src="../../../assets/images/avatar3.png" alt="imagem de pessoas que fizeram depoimentos">
        </div>
        <div class="card-info">
          <p>Minha viagem com a Jornada foi incrível!
            Recomendo muito a agência para quem busca uma experiência emocionante e personalizada a aprtir das nossas neceddidades
          </p>
          <span>
            <strong>
              Mariana Faustino
            </strong>
          </span>
        </div>

      </div>
    </mat-card-content>

  </mat-card>
  <mat-card class="mat-card">
    <mat-card-content>
      <div class="card-depoimento">
        <div class="card-image">
          <img src="../../../assets/images/garota1.jpg" alt="imagem de pessoas que fizeram depoimentos">
        </div>
        <div class="card-info">
          <p>Minha viagem com a Jornada foi incrível!
            Recomendo muito a agência para quem busca uma experiência emocionante e personalizada a aprtir das nossas neceddidades
          </p>
          <span>
            <strong>
              Luiza Fonseca
            </strong>
          </span>
        </div>

      </div>
    </mat-card-content>

  </mat-card>
  <mat-card class="mat-card">
    <mat-card-content>
      <div class="card-depoimento">
        <div class="card-image">
          <img src="../../../assets/images/garota2.jpg" alt="imagem de pessoas que fizeram depoimentos">
        </div>
        <div class="card-info">
          <p>Minha viagem com a Jornada foi incrível!
            Recomendo muito a agência para quem busca uma experiência emocionante e personalizada a aprtir das nossas neceddidades
          </p>
          <span>
            <strong>
              Eduarda Calixto
            </strong>
          </span>
        </div>

      </div>
    </mat-card-content>

  </mat-card>
</section>