.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  .card-busca{
    max-width: 320px;
    background-color: #f2f7ff;
    border-radius: 12px;
    button {
      margin: 0 16px 48px;
      width: 100%;
    }

    img {
      width: 318px;
      height: 260px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 12px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #1d1b20;
        text-align: center;
      }
    }
  }
}



