<app-bannner src="/assets/images/banner-homepage.png" alt="Banner da aplicação"></app-bannner>
<app-container>
  <h2>Promoções</h2>
  <div class="class-wrapper">
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>

  </div>
  <h2>Depoimentos</h2>
  <div class="class-wrapper">
    <app-card-depoiment></app-card-depoiment>
    <app-card-depoiment></app-card-depoiment>
    <app-card-depoiment></app-card-depoiment>
  </div>

</app-container>
<app-bannner src="../../../assets/images/banner-homepage-rodape.png" alt="Banner da aplicação"></app-bannner>